.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../src/assets/hero.jpg");
  height: 90vh;
  background-position: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  margin: auto;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000; /* Cor de fundo preta */
}

footer {
  margin-top: auto;
}